<h3>Razorin Index  sehisi</h3>

@{
    int number = 10;
    string name = "ALOVSET";
}
<h4>number</h4>
<h3>@number</h3>
<h3>@name</h3>


<ul>
    @for (int i = 1; i <= 10; i++)
    {
        <li>Say: @i</li>
    }
</ul>

<p>@number</p>
